{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of receipts</th>
            </thead>
            {% for item in categories %}
                <tr>
                    <td> {{ item.name }} </td>
                    <td> {{ item.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content%}
