<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{%url "account_list" %}">Accounts</a></li>
                <li><a href="{%url "category_list" %}">Categories</a></li>
                <li><a href="{%url "logout" %}">logout</a></li>
                {% else %}
                <li><a href="{%url "signup" %}">signup</a></li>
                <li><a href="{%url "login" %}">login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
