{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            {% for item in accounts %}
                <tr>
                    <td> {{item.name}} </td>
                    <td> {{item.number}} </td>
                    <td> {{ item.receipts.all|length }} </td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content%}
